# production server properties
server:
  port: ${PORT:5000}

#postgres database properties
spring :
  datasource :
    driverClassName: org.postgresql.Driver
    url: ${JDBC_DATABASE_URL}
    username: ${JDBC_DATABASE_USERNAME}
    password: ${JDBC_DATABASE_PASSWORD}
    maxActive : 1
    maxIdle : 3
    minIdle : 2
    initialSize : 1
    removeAbandoned : true


# actuator properties
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

# application specific properties
fmak:
  notifications:
    cleanup: true
  supporter:
    tokens: ${SUPPORTER_TOKENS}
